.navbar {
  display: flex;
  background: var(--yellow);
  height: 2rem;
  justify-content: space-between;
  padding: 1.5rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.navlinks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.navlinks li,
a {
  all: unset;
  margin-right: 1rem;
  font-weight: bold;
  position: relative;
}

.btn {
  border-radius: 0.25rem;
  border: 1px solid black;
  padding: 0.5rem;
}

.btn:hover {
  transform: scale(1.1);
  background-color: var(--dark-purple);
}

.navlinks a::after {
  content: '';
  display: block;
  height: 4px;
  white-space: nowrap;
  left: 50%;
  position: absolute;
  background: var(--dark-purple);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.navlinks a:hover:after {
  width: 100%;
  left: 0;
}
