@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monofett&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  --light-blue: #8cc0de;
  --nav-clr: #cee5d0;
  --pastal: #ffd9c0;
  --pink: #f4bfbf;
  --dark-purple: #646fd4;
  --light-red: #f87474;
  --light-green: #b8f1b0;
  --text-primary-color: #000000;
  --text-secondary-color: #606060;
  --text-silver: #696969;
}

body {
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
  color: var(--text-primary-color);
  background-color: #f2f2f2;
}

ul,
li {
  list-style: none;
}

* {
  margin: 0;
  padding: 0;
}

button {
  all: unset;
}

.btn {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border: 0.05rem solid black;
  cursor: pointer;
  position: relative;
  border-radius: 0.5rem;
  margin-right: 1rem;
}

.btn:after {
  content: '';
  background-color: #ffe54c;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 0.5rem;
  left: 0.5rem;
  transition: 0.2s;
  border-radius: 0.5rem;
}

.btn:hover:after {
  top: 0;
  left: 0;
}
